
examples/DroolsHelloWorld/instances/corr.xmi

examples/DroolsHelloWorld/instances/src.xmi

examples/DroolsHelloWorld/instances/trg.xmi

examples/DroolsHelloWorld/instances/protocol.xmi

examples/DroolsHelloWorld/debug/patterns.xmi

examples/DroolsHelloWorld/model/DroolsHelloWorld_flattened.editor.xmi

examples/DroolsHelloWorld/model/DroolsHelloWorld_flattened.tgg.xmi

examples/DroolsHelloWorld/model/DroolsHelloWorld.ecore

examples/DroolsHelloWorld/model/DroolsHelloWorld.editor.xmi

examples/DroolsHelloWorld/model/DroolsHelloWorld.tgg.xmi
